// design tokens

/*----------------------------
 colors
----------------------------*/
$gold: #D5966C;
$black: #151515;
$dark-grey: #444444;
$white: #FFFFFF;

/*----------------------------
typography
----------------------------*/
body {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

// breakpoint
$tablet: 700px;
$desktop: 1440px;