/*----------------------------
      layout
 ----------------------------*/
body {
  min-height: 100vh;
}

.page-wrapper {
  margin: 0 auto;
}
/*----------------------------
      header (hero) section
----------------------------*/
.hero {
  @media only screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr minmax(3rem, auto) 1fr;
    grid-template-rows: minmax(9.0625rem, auto) minmax(34.6875rem, auto);
  }

  @media only screen and (min-width: $desktop) {
    grid-template-columns: 1fr 17.8125rem 14.3125rem 15.375rem 4.0625rem 17.625rem 1fr;
    grid-template-rows: 11.8125rem 38.1875rem;
  }

  @media only screen and (min-width: $desktop) {
    .bg-black {
      background-color: $black;
      grid-column: 1/3;
      grid-row: 1/-1;
    }
  }

  &__image {
    @media only screen and (min-width: $tablet) {
      grid-column: 1/3;
      grid-row: 1/-1;
    }

    @media only screen and (min-width: $desktop) {
      background-size: 100%;
      grid-column: 3/6;
      grid-row: 1/-1;
    }
  }

  &__info-container {
    margin: 0 1rem;

    @media only screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      grid-column: 2/-1;
      grid-row: 2;
      margin: 0;
    }

    @media only screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      grid-column: 2/-1;
      gap: 19.4375rem;
    }
  }

  &__heading {
    font-family: Big Shoulders Display;
    font-weight: 900;
    font-size: 3.75rem;
    line-height: 3.4375rem;
    color: $black;
    text-transform: uppercase;
    margin: 2rem 0;

    @media only screen and (min-width: $tablet) {
      font-size: 4.375rem;
      line-height: 4.0625rem;
      margin: 0;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 6rem;
      line-height: 5.5rem;
      color: $white;
      mix-blend-mode: difference;
    }
  }

  &__heading span {
    display: block;
  }

  &__paragraph {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: 0rem;
    color: $dark-grey;

    @media only screen and (min-width: $tablet) {
      max-width: 21.1875rem;
      margin: 3rem 0;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 1.375rem;
      line-height: 2rem;
      max-width: 21.875rem;
      margin: 0;
    }
  }

  &__button {
    display: flex;
    width: 16.25rem;
    height: 4.5rem;
    text-decoration: none;
    margin: 2rem 0 7.5rem;

    @media only screen and (min-width: $desktop) {
      margin: 4rem 0;
    }
  }

  &__button:hover &__locale {
    background-color: $gold;
    transition: 0.3s ease-in;
  }

  &__button:hover &__arrow {
    background-color: $black;
    transition: 0.3s ease-in;
  }

  &__locale {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    flex-basis: 12.75rem;
    font-family: Big Shoulders Display;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.5rem;
    letter-spacing: 0.2273rem;
    text-transform: uppercase;
  }

  &__arrow {
    flex-basis: 3.375rem;
    background: $gold url(../assets/icon-arrow-right.svg) no-repeat center;
  }
}

/*----------------------------
      main (gallery) section 
----------------------------*/
.gallery {
  margin: 0 1rem;

  @media only screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 36.458vw 13.932vw 36.328vw;
    grid-template-rows: 52.083vw 40.755vw 51.563vw;
    gap: 1.432vw;
    margin: 15.625vw 5.208vw 15.625vw;
  }

  @media only screen and (min-width: $desktop) {
    margin: 12.5vw 11.458vw;
    gap: 2.083vw;

    grid-template-columns: 30.903vw 11.111vw 30.903vw;
    grid-template-rows: 27.778vw 21.736vw 26.181vw;
  }

  &__info {
    margin: 1.5625rem 0 2rem;

    @media only screen and (min-width: $tablet) {
      grid-column: 1;
      grid-row: 1;
      max-width: 29.036vw;
    }

    @media only screen and (min-width: $desktop) {
      margin: 1.736vw 0 2.222vw;
    }
  }

  &__heading {
    font-size: 3.125rem;
    line-height: 2.8125rem;
    text-transform: uppercase;
    margin: 0 0 1.3125rem;
  }

  &__heading--black {
    @media only screen and (min-width: $tablet) {
      max-width: clamp(13.9375rem, 29.036vw, 21.875rem);
      margin: 3.125vw 0;
      font-size: 6.51vw;
      line-height: 5.859vw;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 4.167vw;
      line-height: 4.167vw;
      margin: 2.361vw 0 2.222vw;
      max-width: 24.306vw;
    }
  }

  &__heading span {
    display: block;

    @media only screen and (min-width: $desktop) {
      display: unset;
    }
  }

  &__paragraph {
    color: $dark-grey;

    @media only screen and (min-width: $desktop) {
      font-size: 1.528vw;
      line-height: 2.222vw;
      //
      max-width: 24.306vw;
    }
  }

  &__image--one {
    @media only screen and (min-width: $tablet) {
      grid-column: 2/-1;
    }
  }

  &__image--two {
    margin: 2rem 0 1rem;

    @media only screen and (min-width: $tablet) {
      grid-column: 1/3;
      grid-row: 2/4;
      margin: 0;
    }
  }

  &__image--three {
    @media only screen and (min-width: $tablet) {
      grid-column: 3;
      grid-row: 2;
    }
  }

  &__img3-mobile {
    margin: 1rem 0 0;

    @media only screen and (min-width: $tablet) {
      margin: 0;
    }
  }

  &__be-inspired-info {
    height: 15.4375rem;
    background-color: $black;
    margin: 1rem 0 7.5rem;
    text-align: left;
    padding: 3rem 1.5rem;

    @media only screen and (min-width: $tablet) {
      grid-column: 3;
      grid-row: 3;
      margin: 0 auto;
      height: auto;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
  }

  &__heading--white {
    color: $white;
    max-width: 13.9375rem;

    @media only screen and (min-width: $tablet) {
      max-width: 29.036vw;
    }

    @media only screen and (min-width: $desktop) {
      max-width: 23.681vw;
      font-size: 4.167vw;
      line-height: 4.167vw;
    }
  }

  &__paragraph--white {
    color: $white;
    margin: 1.5rem 0 0;
    max-width: 18.4375rem;

    @media only screen and (min-width: $tablet) {
      max-width: 29.036vw;
      font-size: 2.344vw;
      line-height: 3.646vw;
    }

    @media only screen and (min-width: $desktop) {
      max-width: 23.681vw;
      font-size: 1.528vw;
      line-height: 2.222vw;
    }
  }
}

/*----------------------------
      footer section 
----------------------------*/

.footer {
  display: flex;
  flex-direction: column;
  background-color: $black;
  padding: 3rem 2rem;

  @media only screen and (min-width: $tablet) {
    flex-direction: row;
    padding: 7.292vw 5.208vw;
  }

  @media only screen and (min-width: $desktop) {
    padding: 5.556vw 11.458vw;
  }

  &__heading {
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: $white;
    text-transform: uppercase;

    @media only screen and (min-width: $tablet) {
      flex: 1 1 10.9375rem;
    }

    @media only screen and (min-width: $desktop) {
      flex: 1 1 20.833vw;
      font-size: 2.292vw;
      line-height: 2.083vw;
    }

    span {
      display: block;
    }
  }

  &__paragraph {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.625rem;
    text-align: left;
    color: $white;
    max-width: 19.4375rem;
    margin: 2.375rem 0;

    @media only screen and (min-width: $tablet) {
      flex: 1 1 17.5625rem;
      max-width: 17.5625rem;
      margin: 0;
    }

    @media only screen and (min-width: $desktop) {
      flex: 1 1 29.861vw;
      max-width: 29.861vw;
      font-size: 1.25vw;
      line-height: 1.944vw;
    }
  }

  &__social-media {
    display: flex;
    gap: 1.25rem;

    @media only screen and (min-width: $tablet) {
      flex: 1 1 14.5625rem;
      align-items: baseline;
      justify-content: flex-end;
    }

    @media only screen and (min-width: $desktop) {
      flex: 1 1 26.389vw;
      align-items: baseline;
      justify-content: flex-end;
    }
  }

  a:hover &__icon {
    fill: $gold;
    transition: 0.3s ease-in;
  }
}
