/*----------------------------
      layout
 ----------------------------*/
 body {
  min-height: 100vh;
}

.page-wrapper {
  // max-width: 375px;
  margin: 0 auto;

  @media only screen and (min-width: $tablet) {
    // max-width: 1050px;
  }
  @media only screen and (min-width: $desktop) {
    // max-width: 1800px;
  }
}
/*----------------------------
      header (hero) section
----------------------------*/
.hero {
  // display: grid;

  @media only screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr minmax(48px, auto) 1fr;
    grid-template-rows: minmax(145px, auto) minmax(555px, auto);
  }

  @media only screen and (min-width: $desktop) {
    grid-template-columns: 1fr 285px 229px 246px 65px 282px 1fr;
    grid-template-rows: 189px 611px;
  }

  @media only screen and (min-width: $desktop) {
    .bg-black {
      background-color: $black;
      grid-column: 1/3;
      grid-row: 1/-1;
    }
  }

  &__image {

    @media only screen and (min-width: $tablet) {
      grid-column: 1/3;
      grid-row: 1/-1;
    }

    @media only screen and (min-width: $desktop) {
      background-size: 100%;
      grid-column: 3/6;
      grid-row: 1/-1;
    }
  }

  &__info-container {
    margin: 0 16px;

    @media only screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      grid-column: 2/-1;
      grid-row: 2;
      margin: 0;
    }

    @media only screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      grid-column: 2/-1;
      gap: 311px;
    }
  }

  &__heading {
    font-family: Big Shoulders Display;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    color: $black;
    text-transform: uppercase;
    margin: 32px 0;

    @media only screen and (min-width: $tablet) {
      font-size: 70px;
      line-height: 65px;
      margin: 0;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 96px;
      line-height: 88px;
      color: $white;
      mix-blend-mode: difference;
      margin: 0;
    }
  }

  &__heading span {
    display: block;
  }

  &__paragraph {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0px;

    @media only screen and (min-width: $tablet) {
      max-width: 339px;
      margin: 48px 0;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 22px;
      line-height: 32px;
      max-width: 350px;
      margin: 0;
    }
  }

  &__button {
    display: flex;
    width: 260px;
    height: 72px;
    text-decoration: none;
    margin: 32px 0 120px;

    @media only screen and (min-width: $desktop) {
      margin: 64px 0;
    }
  }

  &__button:hover &__locale {
    background-color: $gold;
    transition: 0.3s ease-in;
  }

  &__button:hover &__arrow {
    background-color: $black;
    transition: 0.3s ease-in;
  }

  &__locale {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    flex-basis: 204px;
    font-family: Big Shoulders Display;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6363637447357178px;
    text-transform: uppercase;
  }

  &__arrow {
    flex-basis: 54px;
    background: $gold url(../assets/icon-arrow-right.svg) no-repeat center;
  }
}

/*----------------------------
      main (gallery) section 
----------------------------*/
.gallery {
  margin: 0 16px;

  @media only screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 36.458vw 13.932vw 36.328vw;
    grid-template-rows: 52.083vw 40.755vw 51.563vw ;
    gap: 1.432vw;
    margin: 15.625vw 5.208vw 15.625vw;
  }

  @media only screen and (min-width: $desktop) {
    margin: 12.500vw 11.458vw;
    gap: 2.083vw;
    
    grid-template-columns: 30.903vw 11.111vw 30.903vw;
    grid-template-rows: 27.778vw 21.736vw 26.181vw;


  }

  &__info {
    margin: 25px 0 32px;

    @media only screen and (min-width: $tablet) {
      grid-column: 1;
      grid-row: 1;
      max-width: 29.036vw;
    }

    @media only screen and (min-width: $desktop) {
      max-width: 26.042vw;
    }
  }

  &__heading {
    font-size: 6.51vw;
    line-height: 5.859vw;
    text-transform: uppercase;

    @media only screen and (min-width: $desktop) {
      font-size: 60px;
      line-height: 60px;
      max-width: 350px;
    }
  }

  &__heading--black {
    @media only screen and (min-width: $tablet) {
      max-width: clamp(223px, 29.036vw, 350px );
      margin: 3.125vw 0;
      font-size: 6.51vw;
      line-height: 5.859vw;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 4.167vw;
      line-height: 4.167vw;
      margin:34px 0 32.003px;
    }
  }

  &__heading span {
    display: block;

    @media only screen and (min-width: $desktop) {
      display: unset;
    }
  }

  &__paragraph {
    color: $black;

    @media only screen and (min-width: $desktop) {
      // font-size: 22px;
      // line-height: 32px;
      font-size: 1.528vw;
      line-height: 2.222vw;
      //
      max-width: 24.306vw;
    }
  }

  &__image--one {
    @media only screen and (min-width: $tablet) {
      grid-column: 2/-1;
    }
  }


  &__image--two {
    // height: 100%;
    margin: 32px 0 16px;

    @media only screen and (min-width: $tablet) {
      grid-column: 1/3;
      grid-row: 2/4;
      margin: 0;
    }
  }

  &__image--three {
    @media only screen and (min-width: $tablet) {
      grid-column: 3;
      grid-row: 2;
    }
  }

  &__img3-mobile {
    margin: 16px 0 0;

    @media only screen and (min-width: $tablet) {
      margin: 0;
    }
  }

  &__be-inspired-info {
    height: 247px;
    background-color: $black;
    margin: 16px 0 120px;
    text-align: left;
    padding: 48px 24px;

    @media only screen and (min-width: $tablet) {
      grid-column: 3;
      grid-row: 3;
      margin: 0 auto;
      height: auto;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
  }

  &__heading--white {
    color: $white;
    max-width: 223px;

    @media only screen and (min-width: $tablet) {
      // max-width: 29.036vw;
    }

    @media only screen and (min-width: $desktop) {
      max-width: 23.681vw;
      font-size: 4.167vw;
      line-height: 4.167vw ;
    }
  }

  &__paragraph--white {
    color: $white;
    margin: 24px 0 0;
    max-width: 223px;

    @media only screen and (min-width: $tablet) {
      max-width: 222.998px;
      font-size: 18px;
      line-height: 28px;
    }

    @media only screen and (min-width: $desktop) {
      max-width: 23.681vw;
      font-size: 1.528vw;
      line-height: 2.222vw;
    }
  }
}

/*----------------------------
      footer section 
----------------------------*/

.footer {
  display: flex;
  flex-direction: column;
  background-color: $black;
  padding: 48px 32px;

  @media only screen and (min-width: $tablet) {
    flex-direction: row;
    padding: 7.292vw 5.208vw;
  }

  @media only screen and (min-width: $desktop) {
    padding: 5.556vw 11.458vw;
  }

  &__heading {
    font-size: 20px;
    line-height: 20px;
    color: $white;
    text-transform: uppercase;

    @media only screen and (min-width: $tablet) {
      flex: 1 1 175px;
    }

    @media only screen and (min-width: $desktop) {
      flex: 1 1 300px;
      font-size: 33px;
      line-height: 30px;
    }

    span {
      display: block;
    }
  }

  &__paragraph {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    color: $white;
    max-width: 311px;
    margin: 38px 0;

    @media only screen and (min-width: $tablet) {
      flex: 1 1 281px;
      max-width: 281px;
      margin: 0;
    }

    @media only screen and (min-width: $desktop) {
      flex: 1 1 430px;
      max-width: 430px;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__social-media {
    display: flex;
    gap: 20px;

    @media only screen and (min-width: $tablet) {
      flex: 1 1 233px;
      align-items: baseline;
      justify-content: flex-end;
    }

    @media only screen and (min-width: $desktop) {
      flex: 1 1 380px;
      align-items: baseline;
      justify-content: flex-end;
    }
  }

  a:hover &__icon {
    fill: $gold;
    transition: 0.3s ease-in;
  }
}