.location {
  &__image-map {
    background-image: url(../assets/mobile/image-map@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 146.667vw;

    @media only screen and (min-width: $tablet) {
      background-image: url(../assets/tablet/image-map@2x.png);
      min-height: 78.125vw;
    }

    @media only screen and (min-width: $desktop) {
      background-image: url(../assets/desktop/image-map@2x.png);
      min-height: 41.667vw;
    }
  }

  &__button {
    margin: 0;

    @media only screen and (min-width: $tablet) {
      margin: 0 0 0 5.078vw;
    }
    @media only screen and (min-width: $desktop) {
      margin: 0 0 0 10.833vw;
    }
  }

  &__arrow--left {
    background: $gold url(../assets/icon-arrow-left.svg) no-repeat center;
  }

  &__container {
    padding: 3rem 1rem;
    background-color: $black;

    @media only screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      padding: 11.458vw 5.208vw 10.417vw;
      gap: 8.854vw;
    }

    @media only screen and (min-width: $desktop) {
      padding: 7.222vw 11.458vw 8.889vw;
      gap: 15.278vw;
    }
  }

  &__heading {
    font-size: 3.125rem;
    line-height: 2.8125rem;
    color: $white;

    @media only screen and (min-width: $tablet) {
      font-size: 7.161vw;
      line-height: 6.51vw;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 4.861vw;
      line-height: 4.861vw;
      max-width: 22.847vw;
    }
  }

  &__directions {
    margin: 3rem 0;
    color: $white;

    @media only screen and (min-width: $tablet) {
      margin: 0;
    }
  }

  &__subheading {
    font-size: 2rem;
    line-height: 2rem;
    color: $gold;

    @media only screen and (min-width: 90rem) {
      font-size: 2.5vw;
      line-height: 2.5vw;
    }
  }

  &__address {
    margin: 1.25rem 0;

    @media only screen and (min-width: $desktop) {
      font-size: 1.528vw;
      line-height: 2.222vw;
    }
  }

  &__paragraph {
    @media only screen and (min-width: $tablet) {
      max-width: 51.823vw;
      font-size: 2.344vw;
      line-height: 3.646vw;
    }
    @media only screen and (min-width: $desktop) {
      font-size: 1.25vw;
      line-height: 1.944vw;
      max-width: 37.5vw;
    }
  }
}

.location-footer {
  background-color: $gold;
  color: $black;

  &__heading,
  &__paragraph {
    color: $black;
  }

  &__icon {
    fill: $black;
  }

  a:hover &__icon {
    fill: $white;
    transition: 0.3s ease-in;
  }
}
